@model IEnumerable<User>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


            @foreach(var item in Model)
            {
               <p><img src="@item.Avatar" alt="my image" /></p>
               <p><strong>Fullname:</strong> @item.FirstName  @item.LastName</p>
               <p><strong>Number Of Cars:</strong> @item.Cars.Count</p>

            }
</div>
